/*            general              */

html {font-size: 62.5%;}
body {font-size: 1.6rem;
font-family: "PT Sans", sans-serif;
margin: 0;
background-color: #323F24;
color: white;}

h1,h2,h3 { font-family: "PT Serif", serif;
    font-weight: 700;}

.content {width: 80%;
margin: auto;}
ul {list-style: none;}
img {width: 50%;}






/*             header              */
header {display: flex;
    justify-content: space-between;
    align-items:flex-start;
background-color: #5C8039;}
header img {width: 150px;
object-fit: contain;}
nav {padding: 50px 50px 0 0;}
nav ul {display: none;
}
nav a {color: white;
text-transform: uppercase;}

.show-items {
    display: block;
  }
/*             footer              */

footer {text-align: center;
background-color: #5C8039;}
footer img {width: 75px;}
.footflex {display: flex;
justify-content: center;}



/*             home intro              */

.homeintro {background-image: url(images/lettuce.jpg);
padding: 20% 0;}






/*              laptop/descktops                     */

  @media only screen and (min-width: 992px) {

/*             header              */
nav ul {display: flex;}
nav li {padding: 0 50px;}
.toggle {display: none;}


  }